<meta charset="UTF-8">
<title>{{title}}</title>
<link href="/static/libs.css" rel="stylesheet" type="text/css">
<script src="/static/libs.js"></script>
<script src="/externals.js"></script>
<script src="/app.js"></script>

<link rel="apple-touch-icon" href="/icon.png">
