<div class="ui padded center aligned vertical segment">
    <h1 class="ui header">Store and visualize your performance results here.</h1>
</div>

<div class="ui padded vertical segment">
    <h2 class="ui dividing header">Features</h2>
    <div class="ui list">
        <div class="item">Metric statistics</div>
        <div class="item">Assertions</div>
        <div class="item">Transaction log</div>
        <div class="item">Metric graphs</div>
        <div class="item">Report comparison</div>
        <div class="item">Project dashboard and history</div>
    </div>
</div>

<div class="ui padded vertical segment">
    <h2 class="ui dividing header">Perfberry API</h2>
    <p>A custom way to get full enrichment reports and your development process.</p>
</div>

<div class="ui padded vertical segment">
    <h2 class="ui dividing header">Perfberry CLI</h2>
    <p>Publish your performance reports from console and CI/CD out of the box.</p>
    Supports:
    <div class="ui list">
        <div class="item">Gatling</div>
        <div class="item">Phantom (Yandex.Tank)</div>
        <div class="item">Browsertime (Sitespeed)</div>
    </div>
</div>

<div class="ui secondary padded center aligned vertical segment">
    <h2 class="ui header">Sexy UI, strong API, helpful CLI, sweet community.</h2>
    <h2 class="ui huge header">It's Perfberry. <i class="red heart icon"></i></h2>
</div>
