<div class="fields">
	<div class="seven wide field">
		<label>Name</label>
		<input name="searches[][name]" placeholder="First Name" type="text" value="{{name}}">
	</div>
	<div class="eight wide field">
		<label>Query (_ for single symbol and % for zero or multiple)</label>
		<input name="searches[][query]" placeholder="First Name" type="text" value="{{query}}">
	</div>
	<div class="one wide field">
		<label>&nbsp;</label>
		<button class="ui circular icon button" name="remove-search" type="button">
            <i class="remove icon"></i>
        </button>
	</div>
</div>
