<div class="ui center aligned segment">
    <h3 class="ui left aligned header">
		{{title}} over time
		{{#if data.description}}({{data.description}}){{/if}}
	</h3>
    <div id="{{container}}" data-name="graph"></div>
</div>
